@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
 
* {
  margin: 0px;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: rgb(25, 184, 184);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: rgb(25, 184, 184);
}

.navbar button {
  background: rgb(25, 184, 184);
  color: #fff;
  border: 0;
  padding: 8px;
  border: 8px;
  margin-top: 8px;
  margin-left: 16px;
  cursor: pointer;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.movie-preview {
  padding: 10px 10px;
  border-bottom: 1px solid #fafafa;
  margin: 20px 0px;
}

.movie-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.movie-preview h2 {
  font-size: 20px;
  color: rgb(25, 184, 184);
  margin-bottom: 8px;
}

.movie-list a {
  text-decoration: none;
}

.add-movie, .edit-movie, .login, .signup {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.signup li, .login li, .add-movie li, 
.edit-movie li, .delete-movie p {
  text-align: left;
  color: rgb(184, 25, 25);
}

.add-movie label, .edit-movie label, 
.login label, .signup label {
  text-align: left;
  display: block;
}

.add-movie h2, .edit-movie h2,
.login h2, .signup h2 {
  font-size: 20px;
  color: rgb(25, 184, 184);
  margin-bottom: 30px;
}

.add-movie input, .add-movie textarea, 
.add-movie select, .edit-movie input, 
.edit-movie textarea, .edit-movie select,
.login input, .signup input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.add-movie button, .edit-movie button, 
.signup button, .login button {
  background: rgb(25, 184, 184);
  color: #fff;
  border: 0;
  padding: 8px;
  border: 8px;
  margin-top: 8px;
  margin-left: 16px;
  cursor: pointer;
}

.movie-detail button {
  background: rgb(25, 184, 184);
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 8px 16px;
  margin: 8px 8px 0px 0px;
  cursor: pointer;
}

.delete-movie h2 {
  margin-bottom: 16px;
}

.delete-movie button {
  background: rgb(184, 25, 25);
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 8px;
  margin-top: 16px;
  cursor: pointer;
}

